@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic&display=swap");
body {
  font-family: "Zen Maru Gothic", "noto sans TC", serif;
  background: #fff8ed;
  min-height: 100vh;
  color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
button,
select {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #000000;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  padding: 0 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #cd1707;
}

.header_logo {
  display: block;
  width: 155px;
}

.header_logo > img {
  width: 100%;
}

.header_nav {
  height: 100%;
}

.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header_nav ul li {
  height: 100%;
  padding: 0 12px;
  position: relative;
}

.header_nav ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.53);
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_nav ul li:last-child::after {
  display: none;
}

.header_nav ul li a:hover {
  opacity: 0.7;
}

.header_nav_text {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

.header_nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
  height: 100%;
  gap: 5px;
  cursor: pointer;
}

.header_nav_item.active .header_nav_text {
  color: #fcbc0b;
}

.header_nav_item:not(.active):hover .header_nav_text {
  color: #ffffff;
}

.header_icon {
  width: 28px;
  display: none;
}

.header_greet {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.header_greet a {
  text-decoration: underline !important;
  color: #ffffff;
}

.header_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px 8px 8px;
  background-color: #ffffff;
  border-radius: 100px;
  gap: 8px;
}

.header_line svg {
  width: 24px;
  height: 24px;
}

.header_line svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_line_text {
  display: block;
  color: #35c000;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1.2;
}

.header_line:hover {
  background-color: #35c000;
}

.header_line:hover svg path.line-bg {
  fill: #ffffff;
}

.header_line:hover svg path.line-main {
  fill: #35c000;
}

.header_line:hover .header_line_text {
  color: #ffffff;
}

.header_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header_login .input-item label {
  color: #ffffff;
}

.header_login .input-item_main {
  background-color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 1399px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 70px;
  }
  .header_right {
    width: 100%;
    height: 100%;
  }
  .header_logo {
    width: 110px;
  }
  .header_nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #cd1707;
    bottom: 0;
    right: 0;
    z-index: 5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_nav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_nav ul li {
    height: 100%;
    width: 20%;
    margin: 0;
  }
  .header_nav ul li::after {
    display: none;
  }
  .header_nav ul a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    gap: 4px;
    opacity: 0.6;
  }
  .header_nav ul a span {
    font-size: 12px;
  }
  .header_nav ul a::after {
    display: none;
  }
  .header_nav ul a.active {
    opacity: 1;
  }
  .header_nav_item.active .header_icon path {
    fill: #fcbc0b;
  }
  .header_icon {
    display: block;
  }
  .header_greet {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .header_line_text {
    font-size: 12px;
  }
}

main {
  overflow: hidden;
  padding-top: 100px;
}

@media screen and (max-width: 1199px) {
  main {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

.mainContent {
  padding: 60px 55px 150px;
}

@media screen and (max-width: 1300px) {
  .mainContent {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  padding: 10px 16px;
  border-radius: 100px;
  font-weight: 700;
  color: #000000;
  background-color: #fcbc0b;
}

.btn:hover {
  background-color: #cd1707;
  color: #ffffff;
}

.btn-border {
  border: 1px solid #fcbc0b;
  color: #e3a700;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 100px;
  font-weight: 700;
}

.btn-border:hover {
  background-color: #fcbc0b;
  color: #ffffff;
}

.btn-hasicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-hasicon svg path {
  stroke: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-hasicon:hover svg path {
  stroke: #ffffff;
}

@media screen and (max-width: 575px) {
  .btn-hasicon {
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .btn-hasicon span {
    display: none;
  }
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.input-item > label {
  color: #000000;
  margin: 0;
  display: block;
}

.input-item_main {
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #fcbc0b;
}

.input-item_main::-webkit-input-placeholder {
  color: #cdcdcd;
}

.input-item_main:-ms-input-placeholder {
  color: #cdcdcd;
}

.input-item_main::-ms-input-placeholder {
  color: #cdcdcd;
}

.input-item_main::placeholder {
  color: #cdcdcd;
}

.title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.title > img {
  width: 50px;
}

.title > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #cd1707;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 28px;
  }
}

.inner-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.inner-head .title {
  margin: 0;
}

.sidebar {
  width: 300px;
}

.sidebar_item {
  margin-bottom: 28px;
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #fcbc0b;
}

.sidebar_qrcode img {
  margin-bottom: 8px;
}

.sidebar_qrcode p {
  margin-bottom: 0;
  font-family: "Mukta", sans-serif;
}

.sidebar_ad {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.sidebar_news_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  gap: 12px;
}

.sidebar_news_title > img {
  width: 37px;
}

.sidebar_news_title > h2 {
  font-size: 32px;
  margin: 0;
  color: #cd1707;
}

.sidebar_news_item {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
}

.sidebar_news_item:last-child {
  border: 0;
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.qrcode-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qrcode-text_title {
  font-weight: 500;
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
}

.qrcode-text_title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #ececec;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qrcode-text_content {
  color: #cd1707;
  font-weight: 700;
}

.mainbar {
  width: calc(100% - 300px);
  padding-left: 32px;
}

@media screen and (max-width: 991px) {
  .mainbar {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.table-common {
  width: 100%;
  border-spacing: 0 8px;
  border-collapse: inherit;
}

.table-common th {
  padding: 16px 10px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  background-color: #fcbc0b;
}

.table-common th:first-child {
  border-radius: 16px 0 0 16px;
}

.table-common th:last-child {
  border-radius: 0 16px 16px 0;
}

.table-common td {
  text-align: center;
  padding: 8px 10px;
  background-color: #ffffff;
}

.table-common td:first-child {
  border-radius: 16px 0 0 16px;
}

.table-common td:last-child {
  border-radius: 0 16px 16px 0;
}

.table-common td.table_date .table_date_big {
  font-size: 32px;
  margin-bottom: 4px;
}

.table-common td.table_date .table_date_small {
  font-size: 12px;
  margin: 0;
}

.table-common td.table_category {
  color: #cd1707;
}

.table-common td.table_give {
  color: #ff4800;
}

.table-common td.table_lines {
  color: #0fa308;
}

.table-common td.table_get {
  color: #237ecd;
}

.table-common td.table_recommend {
  color: #b953df;
}

.table-common td.table_result img {
  width: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .table-common th,
  .table-common td {
    font-size: 10px;
    padding: 10px 3px;
  }
  .table-common th::before {
    width: calc(100% - 6px);
    bottom: 0;
  }
  .table-common td.table_result img {
    width: 25px;
  }
  .table-common td.table_date p {
    margin: 0;
  }
  .table-common td.table_date p.table_date_big {
    font-size: 20px !important;
  }
  .table-common .btn-border {
    font-size: 10px;
    padding: 0;
    border: 0;
    border-radius: 0;
    text-decoration: underline;
    font-weight: 500;
  }
}

.banner_pic_item {
  width: 100%;
  position: relative;
  padding-bottom: 28%;
}

.banner_pic_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner_pic_item.bg-dark .banner_text_title {
  color: #ffffff;
}

.banner_text_item {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner_text_title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 28px;
}

.banner_text_title br {
  display: none;
}

.banner_text_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.banner_text_content p {
  padding: 8px 16px;
  background-color: #cd1707;
  font-weight: 700;
  color: #fcbc0b;
  font-size: 20px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16px;
}

@media screen and (max-width: 1199px) {
  .banner_text_item .container {
    max-width: inherit;
  }
  .banner_text_title {
    font-size: 44px;
  }
  .banner_text_content p {
    font-size: 18px;
  }
  .banner_pic_item {
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 767px) {
  .banner_text_title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .banner_text_title br {
    display: block;
  }
  .banner_text_content p {
    font-size: 14px;
  }
  .banner_pic_item {
    padding-bottom: 80%;
  }
}

.footer {
  padding: 32px 0;
  background-color: #fcbc0b;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer hr {
  margin: 16px 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .footer p {
    font-size: 13px;
  }
}

.buy_item {
  margin-bottom: 12px;
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buy .product-info {
  width: 35%;
}

.buy_select {
  border-radius: 12px;
  padding: 5px 50px 5px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 16px;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  border: 1px solid #fcbc0b;
  color: #000000;
  width: 150px;
  height: 40px;
}

.buy_select-way {
  width: 180px;
}

.buy-login .btn-hasicon {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .buy_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .buy_item .btn {
    width: 100%;
  }
  .buy .product-info {
    width: 100%;
  }
  .buy_select {
    width: 100%;
  }
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info > img {
  width: 90px;
}

.product-info_text {
  width: calc(100% - 90px);
  padding-left: 16px;
}

.product-info_text p {
  font-size: 14px;
  margin: 0;
  color: #636363;
}

.product-info_name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.news-info_date {
  color: #636363;
  margin: 0;
  font-size: 14px;
}

.news-info .btn {
  padding: 6px 12px;
  font-size: 12px;
}

.news-title {
  font-weight: 500;
  color: #000000;
  margin: 0;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
}

.news-list_item {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 8px;
  border: 1px solid #ffffff;
}

.news-list_item:hover {
  border-color: #fcbc0b;
}

.news-list_item:hover .news-list_arrow {
  background-color: #cd1707;
}

.news-list_item:hover .news-list_arrow svg path {
  stroke: #ffffff;
}

.news-list_text {
  width: calc(100% - 40px - 24px);
}

.news-list_text .news-info_date {
  margin-top: 0;
  margin-bottom: 8px;
}

.news-list_text .news-title {
  width: 100%;
}

.news-list_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fcbc0b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-list_arrow svg {
  width: 20px;
  height: 20px;
}

.news-list_arrow svg path {
  stroke: #000000;
  stroke-width: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-detail {
  padding: 32px;
  border-radius: 32px;
  background-color: #ffffff;
}

.news-detail .news-info_date {
  position: relative;
  z-index: 0;
  margin-bottom: 16px;
}

.news-detail .news-info_date span {
  display: block;
  padding-right: 20px;
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #636363;
}

.news-detail .news-info_date::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ececec;
  top: 50%;
  right: 0;
  z-index: -1;
}

.news-detail_content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

.news-detail_content > p {
  line-height: 2;
  margin: 0;
  color: #636363;
}

@media screen and (max-width: 575px) {
  .news-detail_content {
    width: 100%;
    padding: 0;
  }
  .news-detail_content h1 {
    font-size: 24px;
  }
}

.modal-member .modal-dialog {
  margin-top: 100px;
  max-width: 450px;
}

.modal-member .modal-content {
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  border: 0;
}

.modal-member .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.modal-member .modal-body {
  padding: 0;
  position: static;
}

.modal-member .modal_title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal-member_x {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

.modal-member_x path {
  stroke: #cd1707;
}

.modal-member_x:hover {
  opacity: 0.7;
}

.modal-member .input-item {
  margin-bottom: 16px;
}

.modal-member .input-item label {
  white-space: nowrap;
}

.modal-member .input-item_main {
  width: 100%;
}

.modal-member_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-member_btns .btn {
  font-size: 18px;
  padding: 12px 32px;
}

.modal-member .btn-signup {
  color: #636363;
  font-size: 14px;
  text-decoration: underline;
  display: block;
}

@media screen and (max-width: 575px) {
  .modal-member .modal-body {
    padding: 0;
  }
  .modal-member .modal-content_inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-member .modal-dialog {
    margin-top: 30px;
  }
}

.modal-qrcode .modal-dialog {
  max-width: 315px;
  padding-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

.modal-qrcode .modal-content {
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  padding: 56px 56px 32px;
  border: 0;
}

.modal-qrcode .modal-member_x {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-qrcode img {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 12px;
}

.modal-qrcode_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-qrcode_text p {
  font-size: 14px;
  margin: 0;
}

.modal-qrcode_text .qrcode-text_title {
  font-weight: 500;
}

.modal-qrcode_text .qrcode-text_content {
  font-weight: 700;
  color: #fcbc0b;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px auto 0;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul a {
  position: relative;
  z-index: 0;
}

.pagination ul a:hover, .pagination ul a.active {
  color: #ffffff;
}

.pagination ul a:hover::after, .pagination ul a.active::after {
  background-color: #cd1707;
  border-color: #cd1707;
}

.pagination ul a:hover svg path, .pagination ul a.active svg path {
  stroke: #fcbc0b;
}

.pagination ul a::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #fcbc0b;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_arrow svg {
  width: 20px;
  height: 20px;
}

.pagination_arrow svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  stroke: #a1a1a1;
  stroke-width: 2px;
}

.pagination_arrow:hover svg path {
  stroke: #fcbc0b;
}

@media screen and (max-width: 575px) {
  .pagination {
    gap: 10px;
  }
  .pagination ul a {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
  .pagination ul a::after {
    width: 28px;
    height: 28px;
  }
}

.competiton-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  border: 0 !important;
  gap: 40px;
}

.competiton-list .nav-link {
  width: calc((100% - 160px) / 5);
  position: relative;
  text-align: center;
  padding: 22px 0 36px;
  border: 0 !important;
  background-color: transparent !important;
  z-index: 0;
}

.competiton-list .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  padding-bottom: 105.93%;
  background-image: url(../img/product-tab-bg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.competiton-list .nav-link.active::after {
  background-image: url(../img/product-tab-bg-active.svg);
}

.competiton-list .nav-link.active > img {
  opacity: 1;
}

.competiton-list .nav-link:hover {
  opacity: 0.7;
}

.competiton-list .nav-link > img {
  width: 120px;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.competiton-list .nav-link > p {
  text-align: center;
  margin: 0;
  color: #000000;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .competiton-list {
    gap: 16px;
  }
  .competiton-list .nav-link {
    width: calc((100% - 32px) / 3);
    padding-bottom: 28px;
    padding-top: 12px;
  }
  .competiton-list .nav-link > img {
    width: 90px;
  }
  .competiton-list .nav-link > p {
    font-size: 16px;
  }
}

.record_item {
  margin-bottom: 24px;
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record_main {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record_main > img {
  width: 90px;
}

.record_text {
  width: calc(100% - 90px);
  padding-left: 16px;
}

.record_title {
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #cd1707;
}

.record_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.record_total > p {
  font-weight: 700;
  margin: 0;
  font-size: 24px;
}

.record_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.record_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.record_info li {
  font-size: 14px;
  color: #636363;
  padding: 0 8px;
  position: relative;
}

.record_info li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ececec;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.record_info li:first-child {
  padding-left: 0;
}

.record_info li:last-child {
  padding-right: 0;
}

.record_info li:last-child::after {
  display: none;
}

.record_time {
  font-size: 14px;
  color: #636363;
  margin-bottom: 8px;
}

.record_status {
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 0 24px 0 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.record_status.notpay {
  background-color: #cd1707;
  color: #ffffff;
}

.record_status.paid {
  background-color: #fcbc0b;
  color: #000000;
}

@media screen and (max-width: 991px) {
  .record_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .record_main {
    width: 100%;
    padding-bottom: 12px;
  }
  .record_total {
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #ececec;
  }
}

.signup-form {
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
}

.signup-form .row {
  margin-left: -20px;
  margin-right: -20px;
}

.signup-form .row > div {
  padding-left: 20px;
  padding-right: 20px;
}

.signup-form .input-item {
  margin-bottom: 16px;
  gap: 16px;
}

.signup-form .input-item label {
  text-align: right;
  width: 80px;
}

.signup-form .input-item label .highlight {
  color: #cd1707;
}

.signup-form .input-item_main {
  width: calc(100% - 80px - 16px);
}

.signup-form_term p {
  margin: 0;
}

.signup-form_term_inner {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  height: 260px;
  overflow-y: auto;
}

.signup-form_term_inner h3 {
  color: #cd1707;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.signup-form_term_inner p {
  font-size: 14px;
  line-height: 2;
  color: #636363;
}

.signup-form_term_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.signup-form_term_check input {
  position: relative;
  width: 16px;
  height: 16px;
}

.signup-form_term_check input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fcbc0b;
  background-color: #ffffff;
}

.signup-form_term_check input:checked::before {
  display: none;
}

.signup-form_term_check label {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  width: calc(100% - 16px - 8px);
}

.signup-form .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
  display: block;
  font-size: 18px;
  padding: 12px 32px;
}

.product .row {
  margin-left: -12px;
  margin-right: -12px;
}

.product .row > div {
  padding-left: 12px;
  padding-right: 12px;
}

.product_item {
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_item .product-info {
  width: 70%;
}

.product_remain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
  width: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product_remain p {
  margin: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.product_remain p.num {
  color: #cd1707;
  font-size: 32px;
  font-weight: 700;
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 991px) {
  .product_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product_item .product-info {
    width: 100%;
    margin-bottom: 12px;
  }
  .product_remain {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #ececec;
  }
}
/*# sourceMappingURL=style.css.map */